<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.getElementsByTagName('html')[0].className += ' js'
    </script>

    <script defer src="./frontend.js"></script>

    <link rel="icon" type="image/svg+xml" href="/img/favicon.png" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- HEADER -->
    <%= require('../partials/header.html?raw') %>

    <!-- PAGEHEADER/BREADCRUMBS -->
    <%= require('../partials/pagehead.html?raw') %>

    <!-- CONTACT FORM / _2_contact-v3 -->
    <section class="contact-v3 position-relative z-index-1">
      <div class="container max-width-xs margin-bottom-lg">
        <div class="text-component text-center">
          <h1>Contact Us</h1>
          <p>Please feel free to get in touch</p>
        </div>
      </div>

      <div class="container max-width-adaptive-md">
        <div class="grid gap-lg">
          <div class="col-6@md">
            <dl class="details-list details-list--rows">
              <div class="details-list__item padding-y-md">
                <dt class="font-bold margin-bottom-xxs">Address</dt>
                <dd class="line-height-md">IP20 6JA <br />Melbourne Australia</dd>
              </div>

              <div class="details-list__item padding-y-md">
                <dt class="font-bold margin-bottom-xxs">Email</dt>
                <dd>
                  <a href="mailto:webmaster@example.com">touch@codesplatter.com</a>
                </dd>
              </div>

              <div class="details-list__item padding-y-md">
                <dt class="font-bold margin-bottom-xxs">Phone</dt>
                <dd class="line-height-md">
                  <p><a href="tel:+44 7656 6455">+61 0431 386 371</a></p>
                  <p class="color-contrast-medium">Mon - Fri, 9AM - 5PM</p>
                </dd>
              </div>
            </dl>
          </div>

          <div class="col-6@md">
            <form>
              <div class="margin-bottom-sm">
                <label class="form-label margin-bottom-xxs" for="contactName">Name</label>
                <input
                  class="form-control width-100%"
                  type="text"
                  name="contactName"
                  id="contactName"
                  required
                />
              </div>

              <div class="margin-bottom-sm">
                <label class="form-label margin-bottom-xxs" for="contactEmail">Email</label>
                <input
                  class="form-control width-100%"
                  type="email"
                  name="contactEmail"
                  id="contactEmail"
                />
              </div>

              <div class="margin-bottom-sm">
                <label class="form-label margin-bottom-xxs" for="contactMessage">Message</label>
                <textarea
                  class="form-control width-100%"
                  rows="9"
                  name="contactMessage"
                  id="contactMessage"
                ></textarea>
              </div>

              <div class="text-right">
                <button class="btn btn--sm btn--primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        role="application"
        class="google-maps google-maps--ratio-3:1 margin-top-lg js-google-maps"
        data-coordinates="51.5658015,-0.40339"
      >
        <!-- Google Map -->
      </div>
    </section>
    <!-- 
      ⚠️ Make sure to include the Google Maps script right before your page body closing tag
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initGoogleMap"></script> 
      Replace 'YOUR_API_KEY' with your google maps API key
    -->

    <!-- newsletter / _1_newsletter -->
    <section class="newsletter padding-y-xxl text-center bg-gradient-primary-left">
      <div class="container max-width-xs position-relative z-index-2">
        <div class="text-component margin-bottom-md">
          <h2>Join <em>our</em> Newsletter</h2>
          <p>Get our monthly recap with the latest news.</p>
        </div>

        <form class="grid gap-xxs">
          <div class="col@xs min-width-0">
            <input
              class="form-control width-100% height-100%"
              aria-label="Email"
              type="email"
              placeholder="Email address"
            />
          </div>

          <div class="col-content@xs">
            <button class="btn btn--primary width-100% height-100%">Subscribe</button>
          </div>
        </form>

        <div class="margin-top-xs">
          <small class="text-xs color-contrast-medium"
            >By subscribing you agree to our
            <a class="color-contrast-high" href="#0">privacy policy</a>.</small
          >
        </div>
      </div>
    </section>

    <!-- footer -->
    <%= require('../partials/footer.html?raw') %>

    <!-- <script src="assets/js/scripts.js"></script> -->
  </body>
</html>
