<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.getElementsByTagName('html')[0].className += ' js'
    </script>
    <script defer src="./frontend.js"></script>

    <link rel="icon" type="image/svg+xml" href="/img/favicon.png" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- HEADER -->
    <%= require('../partials/header.html?raw') %>

    <!-- PAGEHEADER/BREADCRUMBS -->
    <%= require('../partials/pagehead.html?raw') %>

    <!-- FOLIO / _1_card-v5 -->
    <section class="position-relative z-index-1 padding-y-xl">
      <div class="container max-width-adaptive-lg">
        <div class="grid gap-xl">
          <div class="card col-4@md">
            <div class="card-v5">
              <a href="#0" class="card-v5__img-link" aria-label="Description of the link">
                <figure class="card-v5__img">
                  <img src="/img/carservice.png" alt="Card preview img" />
                </figure>
              </a>

              <div class="card-v5__content">
                <div class="text-component">
                  <h4>The Car Shed</h4>
                  <p class="color-contrast-medium text-sm">
                    I was the designer and front-end developer for the initial Pet Plate website in
                    2015 and worked closely with the company as it grew over a period of 5 years,
                    eventually becoming Lead Front-end Developer. By early 2020, Pet Plate had
                    successfully raised a total investment fund of $13 million dollars.
                  </p>
                </div>

                <div class="margin-top-sm">
                  <a class="btn btn--sm btn--primary" href="#0">Visit Site</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-4@md">
            <div class="card-v5">
              <a href="#0" class="card-v5__img-link" aria-label="Description of the link">
                <figure class="card-v5__img">
                  <img src="/img/aroma.png" alt="Card preview img" />
                </figure>
              </a>

              <div class="card-v5__content">
                <div class="text-component">
                  <h4>Aroma Therapy</h4>
                  <p class="color-contrast-medium text-sm">
                    Aroma therapy approached me to develop an interactive and smooth front-end
                    experience for the LSU - Football Operations Facility Expansion. The project
                    required solutions to produce a website that matched the detailed designs and
                    interactivity concepts provided by Red Six Media whilst remaining fast to use
                    across a wide range of devices.
                  </p>
                </div>

                <div class="margin-top-sm">
                  <a class="btn btn--sm btn--primary" href="#0">Visit Site</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-4@md">
            <div class="card-v5">
              <a href="#0" class="card-v5__img-link" aria-label="Description of the link">
                <figure class="card-v5__img">
                  <img src="/img/pizza.png" alt="Card preview img" />
                </figure>
              </a>

              <div class="card-v5__content">
                <div class="text-component">
                  <h4>Traditional Pizza</h4>
                  <p class="color-contrast-medium text-sm">
                    Traditional Pizza - Strong Feeds Strong project I was tasked to convert provided
                    designs into a responsive WordPress theme with functionality such as multiple
                    languages, galleries, hero slider, featured articles, AJAX post loading, and
                    more.
                  </p>
                </div>

                <div class="margin-top-sm">
                  <a class="btn btn--sm btn--primary" href="#0">Visit Site</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-4@md">
            <div class="card-v5">
              <a href="#0" class="card-v5__img-link" aria-label="Description of the link">
                <figure class="card-v5__img">
                  <img src="/img/seafood.png" alt="Card preview img" />
                </figure>
              </a>

              <div class="card-v5__content">
                <div class="text-component">
                  <h4>Sea Side food</h4>
                  <p class="color-contrast-medium text-sm">
                    I was the designer and front-end developer for the initial Pet Plate website in
                    2015 and worked closely with the company as it grew over a period of 5 years,
                    eventually becoming Lead Front-end Developer. By early 2020, Pet Plate had
                    successfully raised a total investment fund of $13 million dollars.
                  </p>
                </div>

                <div class="margin-top-sm">
                  <a class="btn btn--sm btn--primary" href="#0">Visit Site</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-4@md">
            <div class="card-v5">
              <a href="#0" class="card-v5__img-link" aria-label="Description of the link">
                <figure class="card-v5__img">
                  <img src="/img/soothing.png" alt="Card preview img" />
                </figure>
              </a>

              <div class="card-v5__content">
                <div class="text-component">
                  <h4>Soothing Senses</h4>
                  <p class="color-contrast-medium text-sm">
                    Soothing sense put their trust in me to develop the digital representation of
                    their agency. I produced a website that matched the exacting details of the
                    provided designs, was performant on many different devices and browsers, and
                    easy to update with the latest portfolio items and company information.
                  </p>
                </div>

                <div class="margin-top-sm">
                  <a class="btn btn--sm btn--primary" href="#0">Visit Site</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-4@md">
            <div class="card-v5">
              <a href="#0" class="card-v5__img-link" aria-label="Description of the link">
                <figure class="card-v5__img">
                  <img src="/img/wine.png" alt="Card preview img" />
                </figure>
              </a>

              <div class="card-v5__content">
                <div class="text-component">
                  <h4>We for Vines</h4>
                  <p class="color-contrast-medium text-sm">
                    Having based their site on a technique I demonstrated in a blog tutorial in
                    2012, TIGI International asked me to develop the JavaScript functionality of the
                    TIGI - Hair Reborn website. There were a large amount of animations that meant
                    maintaining performance was top priority.
                  </p>
                </div>

                <div class="margin-top-sm">
                  <a class="btn btn--sm btn--primary" href="#0">Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Boxed pics features / _1_feature-v9 -->
    <section class="feature-v9">
      <div class="grid">
        <div class="feature-v9__block col-6@md" style="background-image: url('/img/pizza-1.png')">
          <div class="feature-v9__content text-center max-width-xxxs">
            <div class="text-component">
              <h2 class="text-xxl color-inherit">WordPress</h2>
              <p class="opacity-90%">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam animi rerum.
              </p>
            </div>

            <div class="margin-top-sm">
              <a class="feature-v9__link" href="#0">WP-Sites for Sale</a>
            </div>
          </div>
        </div>

        <div class="feature-v9__block col-6@md" style="background-image: url('/img/gym.png')">
          <div class="feature-v9__content text-center max-width-xxxs">
            <div class="text-component">
              <h2 class="text-xxl color-inherit">JAMstack</h2>
              <p class="opacity-90%">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam animi rerum.
              </p>
            </div>

            <div class="margin-top-sm">
              <a class="feature-v9__link" href="#0">JAM-Sites for Sale</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <%= require('../partials/footer.html?raw') %>
  </body>
</html>
