<!-- BREADCRUMBS -->
<section class="bg-contrast-md bg-accent-light">
  <div class="container max-width-adaptive-lg">
    <nav class="breadcrumbs flex flex-wrap gap-sm text-sm" aria-label="Breadcrumbs">
      <div class="breadcrumbs__logo">About</div>
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="/index.html" class="color-inherit">Home</a>
          <span class="color-contrast-lower margin-left-xxs" aria-hidden="true">/</span>
        </li>

        <!-- <li class="breadcrumbs__item">
      <a href="#0" class="color-inherit">Gallery</a>
      <span class="color-contrast-lower margin-left-xxs" aria-hidden="true">/</span>
    </li>

    <li class="breadcrumbs__item">
      <a href="#0" class="color-inherit">Web</a>
      <span class="color-contrast-lower margin-left-xxs" aria-hidden="true">/</span>
    </li>

    <li class="breadcrumbs__item" aria-current="page">Project</li> -->
      </ol>
    </nav>
  </div>
</section>
